.number-buttons-grid {
  grid-column: 1 / -2;
  grid-row: 3 / -1;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  gap: 3px;
}

.number-button {
  background-color: var(--num-button-background);
  border: none;
  color: var(--text-color);
  padding: 10px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.number-button:hover {
  background-color: var(--num-button-background-hover);
}

